figure.image img {
  width: 100%;
}
.el-popover__title {
  color: #303133;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 12px;
  font-weight: bold;
  background: beige;
  padding: 10px;
  text-transform: uppercase;
}

.el-timeline-item__wrapper {
  top: 0 !important;
}
.create-planning .el-range-editor.el-input__inner {
  width: 320px;
}
.list-planning .el-timeline-item__node {
  background-color: #409eff !important;
}
.el-autocomplete {
  width: 100%;
  margin-top: 10px;
}

.btn-custom-map {
  width: 90% !important;
  margin-top: 15px;
}

.list-planning li .el-input__inner {
  margin-top: 3px;
  width: 86%;
  height: 30px;
}

.create-planning {
  text-align: left;
  padding: 10px;
  position: absolute;
  top: 45px;
  width: 90%;
  margin-left: 6px;
}

p.lable-form {
  text-indent: 3px;
  padding-top: 5px;
  font-size: 14px;
  color: brown;
  line-height: 0;
}

.popover-map .el-popover {
  top: 104px;
  border-radius: 0;
  border: none;
}

ul.menu-map-left {
  position: fixed;
  z-index: 1;
  left: 8px;
  top: 107px;
  height: 100vh;
  width: 354px;
  border-right: 1px solid #66b1ff6b;
  border-left: 1px solid #66b1ff6b;
}

input#search-input-map {
  left: 8px !important;
  top: 65px !important;
  z-index: 9999;
  height: 36px;
  border: 2px solid #409eff;
  width: 348px;
  position: fixed !important;
  text-indent: 15px;
}

.comment_tag button {
  opacity: 0;
  visible: hidden;
  display: none;
}

.comment_tag:hover button {
  opacity: 1;
  visible: visible;
  margin-left: 10px;
  padding: 15px;
  cursor: pointer;
  display: unset;
}

.text-left {
  text-align: left;
}

.list-comment a {
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  transform: translateY(-1px);
}

.emoji-picker {
  width: 100% !important;
  border-radius: 0 !important;
  --ep-color-bg: none !important;
  float: right;
  margin-top: 4px;
  background: white !important;
  z-index: 9;
  margin-bottom: 10px;
  border: none !important;
}

.el-dialog {
  box-shadow: 1px -1px 12px 3px rgb(0 0 0);
}

.story-card .el-card__body {
  padding: 0 !important;
}

.story h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
}

.story i {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 30px !important;
  z-index: 2;
}

.el-image {
  height: 200px;
  overflow: hidden;
  transition: 1s;
}

.story:hover img {
  transform: scale(1.3);
  transition: 1s;
}

span.title-span {
  font-weight: 900;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.el-input__inner {
  border-radius: 50px;
}

.icon-top i {
  font-size: 28px;
  padding-top: 15px;
  cursor: pointer;
  padding-left: 15px;
  color: gray;
}

.icon-top i:hover {
  color: black;
}

.el-menu--horizontal > .el-menu-item i {
  font-size: 28px;
  padding-right: 0px;
}

.el-menu.el-menu--horizontal {
  width: max-content;
  margin: auto;
  border: none;
}

.el-menu {
  border: none;
}

.el-menu-item:focus,
.el-menu-item:hover {
  background-color: white;
}

.el-col {
  border-radius: 4px;
}

.bg-purple-dark {
  background: #99a9bf;
}

.bg-purple {
  background: #d3dce6;
}

.bg-purple {
  background: #e5e9f2;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.el-header,
.el-footer {
  background-color: white;
  color: #333;
  text-align: center;
  line-height: 60px;
  padding: 0;
  border-bottom: 1px solid #80808030;
  height: 65px !important;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: white;
  color: #333;
  text-align: center;
  /*line-height: 160px;*/
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.massage-header {
  width: 50%;
}

.box-chat {
  position: fixed;
  bottom: 19px;
  right: 9px;
  text-align: left;
  z-index: 9999999;
}

.menu-right {
  position: fixed;
  right: 50px;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}

.menu-left {
  position: fixed;
}

.el-tag {
  white-space: none !important;
}

.logo {
  width: 55px;
}

/*.main-layout {*/
/*    margin-top: 100px;*/
/*}*/

.box-chat .el-card__body {
  height: 300px;
  overflow-y: scroll;
}

.text-lg-center {
  text-align: center !important;
}

.el-timeline-item__timestamp.is-top {
  text-align: left;
}

.el-timeline {
  padding: 0;
}

span.number-like {
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -68%);
  color: black;
}

.input-comment input {
  border: none;
  margin-left: 0;
  padding: 0;
}

.list-item {
  margin: 5px 0;
}

.el-image {
  height: auto;
  width: 100%;
}

.post .el-row {
  box-sizing: border-box;
  line-height: 25px;
  text-align: left;
}

.post {
  text-align: left;
}

.post .el-card__body {
  padding-bottom: 5px;
}

.list-comment {
  border-bottom: 1px solid #8080801f;
}

.customer-posts {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

/* .images-posts {
  height: 500px;
}
.images-posts img {
  height: auto;
} */
.dropdown-posts {
  position: absolute;
  right: 25px;
  top: 58px;
}

.dropdown-posts span i {
  font-size: 20px;
  color: darkmagenta;
}

a.friend-liked {
  padding-left: 3px;
}

.border-comment {
  padding: 10px 0;
  /*border-top: 1px solid #8080801f;*/
}

.form-comment {
  float: left;
  width: 96%;
  margin-top: 7px;
}

.icon_comment {
  float: left;
  margin-top: 15px;
}

.form-comment .el-input-group__append {
  background: white;
  border: none;
}

.form-comment .el-input-group__append i {
  font-size: 20px;
}

.sp_MOgjR2grmN0 {
  background-image: url(https://toppng.com/uploads/preview/smiley-png-bieu-tuong-cam-xuc-11569058618ddymjp5u6x.png);
  background-size: cover;
  display: inline-block;
  height: 20px;
  width: 20px;
  float: right;
  padding: 5px;
  cursor: pointer;
}

.images-posts-small {
  width: 30%;
}
.count-image {
  position: absolute;
  right: 13%;
  bottom: 26%;
  font-size: 30px;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 40px;
}

hr {
  border: 1px solid #80808021;
}

.select-create-posts .el-input__inner {
  height: 20px;
  margin: 10px 0;
  background: aliceblue;
  width: 90px;
}

.el-input__inner {
  border-radius: 5px !important;
  margin-bottom: 10px;
  /*margin-left: 5px;*/
}

.dialog-create .el-textarea__inner {
  border: none !important;
  margin: 25px 0;
  resize: none;
}

.el-main {
  line-height: 10px;
}

.create-post {
  margin-bottom: 30px;
}

.row-posts i {
  color: #f56c6c;
  font-size: 29px;
  padding-top: 10px;
  transform: translateY(6px);
  cursor: pointer;
}

.row-posts i.el-icon-picture {
  color: #1dab8c;
}

.row-posts i.el-icon-potato-strips {
  color: sandybrown;
}

.row-posts span.title {
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
}

.row-posts span.title:hover {
  color: black;
}

.upload-demo {
  text-align: left;
  padding: 15px 0;
}

.el-upload-list--picture-card .el-upload-list__item {
  width: 100% !important;
  height: auto !important;
}

.el-dialog__body {
  height: 500px;
  overflow-y: scroll;
}

.el-dialog__title {
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px;
  background: #c0c4cc;
}

@media (max-width: 1326px) {
  .footer-mobile .el-menu {
    left:90px;
  }
  .icon-top {
    right: 2%;
    position: absolute;
  }
}

@media screen and (max-width: 1326px) and (min-width: 1200px) {
  .create-post {
    margin-top: 100px;
  }
  form.search {
    width: 165px;
    position: absolute;
    left: 53px;
    top: 6px;
  }
  form.search input {
    border: none;
  }
}
.edit-map-mobile,.icon-map-mobile,.back-map {
  display: none;
}
@media (max-width: 767px) {
  .footer-mobile .el-menu {
    left:0px;
  }
  form.search {
    width: 165px;
    position: absolute;
    left: 53px;
    top: 6px;
  }
  form.search input {
    border: none;
  }
  .text-lg-center {
    text-align: left !important;
  }

  .row-posts i {
    color: #f56c6c;
    font-size: 30px;
    padding-top: 10px;
    transform: translateY(6px);
    cursor: pointer;
    padding: 23px;
  }

  .main-layout {
    margin-top: 0px !important;
  }

  .d-none {
    display: none;
  }

  .el-drawer {
    width: 50% !important;
  }

  .logo {
    text-align: left;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 2;
    width: 60px;
  }

  .icon-top {
    position: fixed;
    right: 10px;
    z-index: 2;
    top: 10px;
  }

  .footer-mobile {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background: white;
    border-top: 1px solid #808080ad;
    box-shadow: 1px -2px 20px 4px #808080bf;
    left: 0;
  }

  .images-posts-small {
    bottom: 27%;
    height: 15%;
  }
  .count-image {
    bottom: 30%;
  }
  .GMap {
    padding-top: 75px !important;
  }
  .GMap__Wrapper {
    height: 79vh !important;
  }
  .icon-map-mobile {
    display: block;
    position: fixed;
    z-index: 2222;
    right: 6px;
    top: 54%;
    background: #67c23a;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    display:none;
  }

  .back-to-trip {
    display: block;
    position: fixed;
    z-index: 2222;
    right: 6px;
    top: 45%;
    background: #409eff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    display: none;
  }

  .back-map {
    display: block;
    position: fixed;
    z-index: 2222;
    right: 6px;
    top: 45%;
    background: #409eff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    display:none;
  }
  .list-planning {
    display: block;
    width: 83%;
    left: 0;
    background: #ecf5ff !important;
    z-index: 22;
    height: 100%;
  }

  .list-planning {
    display: none;
  }
  .edit-map-mobile {
    display: block;
    position: fixed;
    z-index: 2222;
    right: 6px;
    top: 46%;
    background: #66b1ff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
  }
  input#search-input-map {
    width: 95%;
  }
  ul.menu-map-left {
    display: none;
  }
  .el-dialog {
    width: 90% !important;
  }

  .emoji-picker {
    z-index: 99;
  }

  .footer-mobile {
    padding-right: 0 !important;
  }

  form.search {
    width: 165px;
    position: absolute;
    left: 53px;
    top: 6px;
  }
  form.search input {
    border: none;
  }
}
