<template>
  <el-container>
    <el-row>
      <el-col :sm="24">
        <!-- <Story /> -->
        <CreatePost/>
        <ListPostLove/>
      </el-col>
    </el-row>
  </el-container>
</template>
<script>
  import CreatePost from "../components/home/post/CreatePost";
  import ListPostLove from "../components/home/post/ListPostLove";

  export default {
    // middleware: 'notAuthenticated',
    middleware: ['authenticated'],
    data() {
      return {
        visible: true,
      };
    },
    components: {
      CreatePost,
      ListPostLove,
    },
    methods: {}
  };
</script>
